.footer {
  background: var(--primary-green);
  color: white;
  padding: 4rem 0 0;
  margin-top: 4rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Fazer a grid se ajustar ao tamanho da tela */
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer-section h3 {
  color: var(--light-green);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.footer-section h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 50px;
  height: 2px;
  background: var(--light-green);
}

.footer-section p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

/* Links */
.social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-link:hover {
  background: var(--light-green);
  transform: translateY(-3px);
}


.footer-section.links ul {
  list-style: none;
  padding: 0;
}

.footer-section.links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
  transition: 0.3s;
}

.footer-section.links a:hover {
  color: white;
  transform: translateX(5px);
}

/* Contatos */
.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.contact-info i {
  color: var(--light-green);
  font-size: 1.2rem;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem 0;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.footer-bottom-links {
  display: flex;
  gap: 1.5rem;
}

.footer-bottom-links a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: 0.3s;
}

.footer-bottom-links a:hover {
  color: white;
}